 /* Remettre à zéro les marges de tous éléments pour contrecarrer les valeurs par défaut prédéfinies du fureteur */
 
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     
 }

 /* Classe pour la mise en page utilisant les "flexbox" */
 .page {
     /* disposition verticale des sections header, main et footer */
     display: block;
     flex-direction: column;
     min-height: 100vh;
     /* 100% de la hauteur du viewport pour assurer la réactivité verticale */
     gap: var(--gap);
     padding: var(--gap);
     transition: 3s ease-in;
     background-image: url(/infomoderne.avif);
     width: 100%;

     .favicon {
         height: 32px;
         width: 32px;
        
     }

     .header {
         font-size: 1.5em;
         font-weight: bolder;
         display: flex;
         gap: 8px;
         align-items: center;

         .menu {
             /* disposition horizontale des items de menu */
             display: flex;
             gap: 12px;
             flex-wrap: wrap;
             justify-content: space-between;
             align-items: center;
             gap:115px;

         }

         .menuItem {
             flex-grow: 1;
             /* taille adaptative */
             font-size: 0.60em;
             font-weight: bold;
             text-decoration: none;
             color: dodgerblue;
             border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: large;
         }
          
         .menuItem:hover {
             color: blue;
            
         }

         .selectedMenuItem {
             color:black;
         }
     }

     .main {
         flex: 1;
         /* permettre de le formatage flex du parent */
         min-height: 10vh;
         /* hauteur minimum relative à la hauteur du viewport*/

         /* contrecarrer les styles de la classe page */
         border: none;
         padding: 20px;
         margin: 20px;
         gap: 30px;
        

         /* Alignement horizontal des éléments enfants */
         display: flex;
        flex-direction: row;
         gap: var(--gap);
        background-color: rgba(255, 255, 255, 0.5);;

         .scrollSection {
             overflow-y: auto;
             padding-left: 20px;
             font-style: italic;
             display: flex;
             flex-direction: column;
             padding-top: 20%;
             margin-top: 0%;
         }

    
         iframe
         {
           justify-content: center;
           align-items: "center";
           
         }

         
 .Left-side 
 {
  padding: 10px;
  border-right: 2px solid black;
  font-style:italic;
  font-size: 20px;
  text-align: center;
 }

         .content {
             flex-grow: 1;
             border-radius: 1%;
             text-align: center;
             display:grid ;
             margin: 40px;
             padding: 40px;
             align-items: center;     
             justify-content: center;
             gap: 30px; 
             .bigImage {
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 aspect-ratio: 16/9;
              
             }
         }

         .justifiedText {
             text-align: justify;
             margin: auto;
             padding: auto;
             font-style: oblique;
             display: flex;
             flex-direction: column;
             font-size: large;
             gap: 100px;
             font-size: 20px;
             font-weight: bold;
         }
        
            iframe {
            display: block;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            }

            .titre{
               font-size: 2em;
               text-align: center;
               margin: 0;
               padding: 0;
               font-style: oblique;
            }

            .TitreGoogle
            {
             font-family: "Work Sans", sans-serif;
             font-size: 48px;
            }


         .ellipsis {
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         }
  

         .left_Aside {
           flex:1;
           display: flex;
           flex-direction: column;
           align-items: center;     
           padding-top: 20px;
           min-width: 100px;
           max-width: 120px;
           gap: 90px;
           border-radius:5%;

         }
         
         .right_Aside {
             flex: 1;
             min-width: 70px;
             max-width: 120px;
             border-radius: 5%;
           
         }

     }

     .main>* {
         
         padding: var(--gap);
         border: 1px ;
        
       
     }
 }

 .page>* {
     /* cibler tout les enfants enfant de l'éléments de classe page */
     background: rgba(255, 255, 255, 0.5);;;
     padding: var(--gap);
     border: 1px solid gray;
     border-radius: 10%;

 }


 /* disposer une liste d'icone font-awsome vertivalement */
 .iconList {
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: var(--gap);
 }

 /* style pour formater les icones de classe font-awsome */
 .fa-icon {
     flex: 1;
     font-size: 2em;
     color: dodgerblue;
     cursor: pointer;
 }

 /* Changer la couleur de l'élément survolé de classe fa-icon */
 .fa-icon:hover {
     color: blue;
 }

 @media (min-width:500px) {
     /*** classes pour l'apparence de la barre de défilement ***/
     ::-webkit-scrollbar {
         border-radius: var(--border-radius);
         width: var(--scroolbar-with);
     }

     ::-webkit-scrollbar-track {
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
         border-radius: var(--border-radius);
     }

     ::-webkit-scrollbar-thumb {
         border-radius: var(--border-radius);
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
     }

     .momo-trust-display-regular {
         font-family: "Momo Trust Display", sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 1.8em;
     }
 }

 .author {
     width: 30%;
     min-width: 300px;
     margin: auto;
     margin-top: 50px;
     font-size: 1.5em;

     ul {
         list-style-type: none;
     }
 }

  .image
 {
  border-radius: 50%;
  object-fit: cover;
  margin-left: 40px;
  margin-right: 40px;
  width: 90px;
  height: 90px;
  border: 50px green;
  box-shadow: 0 0 0 2px blue;

 
 }
 .image:hover
 {
transform: scale(1.1);
color: black;
 }
 
 

@media screen and (min-width: 500px) and (max-width: 1000px) 
{
   .page {
     /* disposition verticale des sections header, main et footer */
     display: block;
     flex-direction: column;
     height: 100vh;
     /* 100% de la hauteur du viewport pour assurer la réactivité verticale */
     gap: var(--gap);
     padding: var(--gap);
    width: 100%;
     max-width: 1000px;
     min-width: 500px;
     margin: auto;
     transition: 3s ease-in;
     background-image: url(/infomoderne.avif);
    
    

     .favicon {
         height: 32px;
         width: 32px;
        
     } 
  }

  .content {
             flex-grow: 1;
             border-radius: 1%;
             text-align: center;
             display:grid ;
             margin: auto;
             
             .bigImage {
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 aspect-ratio: 16/9;
              
             }
         }

}
